{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body class="background">
    <div class="navcontainer">
        <ul class="navbar">
            <li class="navli"><a class="navlink" href="{% url 'index'%}">Home</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='promo' %}">Promos</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='product'  %}">Products</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='customer'  %}">Customer</a></li>
            <li class="navli"><a class="navlink" href="{% url 'index'%}">Reports</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='producttag' %}">ProductTag</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='productstatus'  %}">ProductStatus</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='image'  %}">Image</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='brand'  %}">Brand</a></li>
            <li class="navli"><a class="navlink" href="{% url 'listall' table='promostatus'  %}">Promo Status</a></li>
        </ul>
    </div>
    <div class="container">
        {% block extrabody %}
        {% endblock %}
    </div>
</body>
</html>