{% extends "jeans/jeanssite.html" %}
{% load i18n %}
{% load static %}
{% load my_extras %}

{% block extrabody %}{{ block.super }}
        <h1>{{title}}</h1>
        <a class = "button-1" href="{% url 'create_row' table=title %}">Create</a>
        <table class="center">
            <tr>
                <th>ID</th>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
                <th style="width: 100px"></th>
            </tr>
            {% for row in page_obj %}
                <tr>
                    <td><a href="{% url 'edit_row' table=row|model_name id=row.id %}">{{row.id}}</a></td>
                    {% for field in fields %}
                    <td>{{ row|get_attr:field }}</td>
                    {% endfor %}
                    <td><a class = "button-1" href="{% url 'delete_row' table=row|model_name id=row.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class = "button-1" href="?page=1">&laquo; First</a>
            <a class = "button-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class = "button-1" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class = "button-1" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}