<!-- product_create_or_update.html -->

{% extends "jeans/jeanssite.html" %}
{% load i18n %}
{% load static %}
{% load my_extras %}
{% block extrahead %}{{ block.super }}
{% endblock %}

{% block extrabody %}{{ block.super }}
<form enctype="multipart/form-data" method="post" id="product_form" action={{ action }}>
    {% csrf_token %}
    <input type="submit" value="Submit">
    {% if edit %}
    {% for link in actions %}
         <a class = "button-1" href="{% url link.url id=id%}">{{link.name}}</a>
    {% endfor %}
    <a class = "deletebutton button-1" href="{% url 'delete_row' table=table id=id%}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
    {% endif %}

    {% if edit %}
    <h1>Edit  {{title}} - {{instance}}</h1>
    {% else %}
    <h1>Add New {{title}}</h1>
    {% endif %}
    <div class="card">
        {% for field in form %}
            <div class="form-group card-body">
                <label>{{field.label}}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}

                {{field}}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <br>
    {% for current_formset in formsets %}
    <h3>{{ current_formset.form.title }}</h3>
     {% with current_formset as formset %}
        {{ formset.management_form }}
        <script type="text/html" id="{{current_formset.form.prefix}}-template">  // id="inlineformsetname-template"
            // id='inlineformsetname-__prefix__'
            <tr id="{{current_formset.form.prefix}}-__prefix__" class= hide_all>
                {% for fields in formset.empty_form.hidden_fields %}
                    {{ fields }}
                {% endfor %}

                {% for fields in formset.empty_form.visible_fields %}
                    <td>{{fields}}</td>
                {% endfor %}
                <td></td>
            </tr>
        </script>
        <div class="table-responsive card mt-4">
            <table class="table card-header">
                <thead class="text-secondary">
                    {% for header in formset.form.field_titles %}
                    <th>{{header}}</th>
                    {% endfor %}
                    <th style="width: 100px">Delete?</th>
                    <th style="width: 20px">
                        <a href="#" id="add-variant-button" class="btn btn-secondary add-{{current_formset.form.prefix}} button-1">+</a>
                    </th>
                </thead>
                <tbody id="item-{{current_formset.form.prefix}}">  <!-- id="item-inlineformsetname" -->
                    <!-- formset non forms errors -->
                    {% for error in formset.non_form_errors %}
                        <span style="color: red">{{ error }}</span>
                    {% endfor %}
                    {% for formss in formset %}
                        {{ formss.management_form }}
                        <tr id="{{current_formset.form.prefix}}-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                            {{ formss.id }}
                            {% for field in formss.visible_fields %}
                                <td>
                                    {{field}}
                                    {% for error in field.errors %}
                                        <span style="color: red">{{ error }}</span>
                                    {% endfor %}

                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                </td>
                            {% endfor %}
                            <td></td>
                            {% comment %} for delete {% endcomment %}
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
             <!-- id="add-inlineformsetname-button" -->
        </div>

        {% endwith %}
    {% endfor %}
    <input type="submit" value="Submit">
    {% if edit %}
    <a class = "deletebutton button-1" href="{% url 'delete_row' table=table id=id%}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
{% endif %}
</form>




<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/product_create_or_update.js' %}"></script>
<script>
{% for current_formset in formsets %}
      $(document).ready(function() {
    // when user clicks add more btn of formsets
      $('.add-{{current_formset.form.prefix}}').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-{{current_formset.form.prefix}}').children().length;
          var tmplMarkup = $('#{{current_formset.form.prefix}}-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-{{current_formset.form.prefix}}').append(compiledTmpl);

          // update form count
          console.log('{{current_formset.form.prefix}}')
          $('#id_{{current_formset.form.prefix}}-TOTAL_FORMS').attr('value', count+1);
          $('#add-variant-button').trigger("add:row");

      });
  });
{% endfor %}
$(document).ready(function() {
    {% for field in form.inline %}
        $('select[name="{{field}}"]').parent().css("display", "inline-block")
        $('select[name="{{field}}"]').css("display", "inline-block")
        $('input[name="{{field}}"]').parent().css("display", "inline-block")
        $('input[name="{{field}}"]').css("display", "inline-block")
    {% endfor %}
});
</script>
{{ form.media }}
{% endblock %}