<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <title>Promotions</title>
    <h1>Complete form below to recieve promotions from us!</h1>
  </head>

  <body>
    <div class="container">
      <form action="#" method="POST" class="form">

        <label for="name">First Name: </label>
        <input type="text" id="firstname" name="firstName" required />
        <br>
        
        <br>
        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastName" required />
        <br>

        <br>
        <label for="email">Email Address: </label>
        <input type="email" id="email" name="email" required />
        <br>

        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>

  <style>
  
  body {
    background-color: linen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
  }

  h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
  }

  button {
    border: none;
    color: white;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  </style>
</html>