{% block extrabody %}
  <h2>Top Promos</h2>
  <table>
    <thead>
      <tr>
        <th>Promo Code</th>
        <th>Description</th>
        <th>Discount</th>
        <th>Total Sales</th>
        <th>Total Customers</th>
      </tr>
    </thead>
    <tbody>
      {% for promo in top_promos %}
        <tr>
          <td>{{ promo.1 }}</td>
          <td>{{ promo.2 }}</td>
          <td>{{ promo.3 }}</td>
          <td>{{ promo.4 }}</td>
          <td>{{ promo.5 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}